<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="title-leafs" src="assets\images\leaf_4.png"></ion-img>

  <div class="ion-padding leaftitle">
    <ion-grid class="ion-padding-horizontal">
      <ion-row>
        <ion-col>
          <b class="title-text">Branches</b>
          <ion-img
            class="title-icons"
            src="assets\images\title_icons.svg"
          ></ion-img>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding-horizontal subtitle-text">
      this clinic have many branches
    </div>
  </div>

  <br />
  <br />

  <ion-list class="ion-padding-horizontal">
    <ion-item
      detail
      button
      *ngFor="let branch of branchesFiltered$ | async"
      routerLink="/appo-form"
    >
      <ion-thumbnail slot="start">
        <img src="assets\images\no-image-clinic.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{branch.clinic.name}} ({{branch.name}})</h2>
        <h2>{{branch.clinic.name_alt}} ({{branch.name_alt}})</h2>
        <div *ngIf="branch.schedule_starting != branch.schedule_ending">
          <p>
            Open: {{branch.schedule_starting | date:'h:mm a'}}, Close:
            {{branch.schedule_ending | date:'h:mm a'}}
          </p>
        </div>
        <div *ngIf="branch.schedule_starting == branch.schedule_ending">
          <p>Open: 24 Hours</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
