<ion-list class="ion-padding-horizontal">
  <ion-item>
    <ion-icon slot="start" color="primary" name="checkmark-circle"></ion-icon>
    <ion-label
      >Clinic: Aster <ion-icon name="location-sharp"></ion-icon> Manama
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" color="primary" name="checkmark-circle"></ion-icon>
    <ion-label>Dr. Ali alasare</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" color="primary" name="checkmark-circle"></ion-icon>
    <ion-label>+973 36371725</ion-label>
  </ion-item>
</ion-list>
