<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-img class="title-leafs" src="assets\images\leaf_1.png"></ion-img>

    <div class="ion-padding leaftitle">
      <ion-grid class="ion-padding-horizontal">
        <ion-row>
          <ion-col>
            <b class="title-text">Doctors</b>
            <ion-img
              class="title-icons"
              src="assets\images\title_icons.svg"
            ></ion-img>
          </ion-col>
          <ion-col> </ion-col>
        </ion-row>
      </ion-grid>

      <div class="ion-padding-horizontal subtitle-text">
        Choose to Book <br />
        Appoinment
      </div>
    </div>

    <br />
    <br />
    <ion-item lines="none">
      <mat-form-field floatLabel="always" appearance="outline" class="w-100">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue" />
        <mat-hint>Search by name, clinic or specialist.</mat-hint>
        <mat-icon matSuffix *ngIf="searchValue" (click)="value=''">
          <ion-icon name="close-outline"></ion-icon>
        </mat-icon>
        <mat-icon matSuffix *ngIf="!searchValue">
          <ion-icon name="search"></ion-icon>
        </mat-icon>
      </mat-form-field>
    </ion-item>

    <ion-list class="ion-padding-horizontal">
      <ion-item
        detail
        button
        *ngFor="let doctor of doctors$ | async"
        routerLink="/appo-form"
      >
        <ion-thumbnail slot="start">
          <img src="assets\images\no-image-doctor.png" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{doctor.name}}</h2>
          <h2>{{doctor.name_alt}}</h2>
          <p>Specialist in {{doctor.speciality}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
