.title-text {
  font-size: 2.5rem;
  line-height: 3rem;
}

.validation_note {
  font-size: 12px;
  line-height: 12px;
  color: var(--ion-color-danger, red);
  padding: 5px 3rem;
}

ion-label {
  font-weight: bold;
}

.required-star {
  color: var(--ion-color-danger, red);
}

.phone-pre {
  // padding: 21px 0;

  ion-img {
    width: 32px;
    display: inline-block;
    margin-bottom: -5px;
  }

  span {
    font-weight: bold;
    padding: 0 0 0 5px;
  }
}

.seletor {
  max-width: max-content;
  padding-left: 0;
  padding-right: 0;
}
